# ================================================
# Kubernetes Manifest for the Minecraft Project
# Author   : Lumitek
# Date     : 2025-11-13
# Description:
#   This manifest contains the following configurations:
#   - The Minecraft Server Persistent Volume Claim
# ================================================
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-server-pvc
spec:
  selector:
    matchLabels:
      app: minecraft
      tier: storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---